/*color*/
/* 
blue clair: #00abc7
blue fonce: #1d5dd8
violet: #8856d9
rose clair #f87e97
rtose foncé #fc4772*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (min-width: 200px) {
  body {
    color: white;
    background-image: linear-gradient(
      to right top,
      #7a58da,
      #6b59da,
      #5a5bda,
      #465cd9,
      #356de4,
      #207dee,
      #008cf6,
      #00adff,
      #00c9ff,
      #00adff,
      #6b59da,
      #8856d9,
      #8856d9
    );
    background-repeat: no-repeat;

    font-family: "Baloo Tamma 2", cursive;
    line-height: 1.6;

    width: 100%;
    height: 100%;
  }

  .wrapper {
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 30px auto 30px auto;

    display: grid;
    grid-template-columns: 100px 1fr 1.5fr;
    grid-template-rows: 80px 285px 700px 700px;

    background-color: rgba(255, 255, 255, 0.2);


  }

  /*disposition de la grille*/

  .burger {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  nav {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .accueil {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
  .presentation {
    grid-row: 3/4;
    grid-column: 1/-1;
  }

  .experiences {
    grid-row: 4/5;
    grid-column: 1/-1;
  }

  /*menu burger*/

  .burger {
    background-color: #fc4772;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 10px;

    margin-top: 25px;
    margin-left: 25px;

    filter: none;

    cursor: pointer;

    z-index: 200;

    opacity: 1;
  }

  .trait {
    background-color: white;

    height: 2px;
    width: 20px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 25px;

    text-align: center;
    width: 100%;
    height: 0px;

    background-color: #fc4772;

    border-radius: 10px 10px 0 0;
    opacity: 0;

    z-index: 2;
  }

  nav ul {
    padding-top: 50px;
  }

  nav ul li {
    padding-bottom: 20px;
    line-height: 1.2;
    padding-right: 20px;
  }

  nav .nav-social a {
    padding-right: 20px;
   
  }
  
  nav .nav-social {
    font-style: 200px;
    

  }

  /*au click du burger*/

  .transition {
    transition: all 1.5s;
    opacity: 1;
    height: 200px;
  }

  .accueil .image-profil {
    background-image: url("../images/photo_profil.png");
    background-repeat: no-repeat;
    background-size: cover;
    


    height: 150px;
    width: 150px;

    border-radius: 50%;

    box-shadow: 0 0 10px #8856d9, 0 0 40px #fc4772, 0 0 80px #00abc7;

    margin: auto;
  }

  /*Accueil*/

  .accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accueil .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    padding: 15px;
    margin-top: 10px;

    background-image: linear-gradient(135deg, #8856d9 10%, #0e5cad 100%);

    object-fit: contain;

    opacity: 0.9;

    animation: card 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    z-index: 3;
  }

  .accueil h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .accueil p {
    font-size: 2rem;
  }

  /*animation entrer card*/
  @keyframes card {
    0% {
      transform: translateX(100rem) rotate(360deg);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 0.9;
    }
  }
  /*section presentation*/

  section .presentation {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

  }

  .presentation {
    border-radius: 10px;
    width: 90%;
    height: 80%;
    margin: 20px auto 30px auto;

    background-color: rgba(255, 255, 255, 0.1);

   

    z-index: 100;
  }
  
  .presentation h2 {
    font-size: 2.5rem;
    
    padding-top: 1rem;
    text-align: center;
  }
  
  .text-presentation {
    display: flex;
    flex-wrap: wrap;
  }
  
  .presentation p {
    font-size: 1.5rem;
    text-align: justify;

    padding: 10px;
  }

  .presentation .icon {
    text-align: center;
  }

  .presentation .icon i {
    font-size: 22px;
    padding-right: 10px;
  }
  .presentation-image {
    display: none;
  }

  .presentation-image2 img {
    width: 0;
    height: 0;

  }

  /*experience*/

  .experiences {

  
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 30px auto 30px auto;

    background-color: rgba(255, 255, 255, 0.1);



    z-index: 100;
  }

  .experiences h2 {
    font-size: 2.5rem;

    padding-top: 1rem;
    text-align: center;
  }

  .experiences p {
    font-size: 1.5rem;
    text-align: justify;

    padding: 10px;
  }

  .experiences h3 {
    font-size: 1.3rem;
    text-align: justify;

    padding: 10px;
  }

  .experiences a {
    font-style: italic;
    color: #0e5cad;
  }

  .experiences-image img {
    width: 0;
    height: 0;
  }
  
  .experiences-image2 img {
    width: 0;
    height: 0;

  }
}
